name: GoTrueJS CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: log versions
        run: node --version && npm --version
      - name: Install dependencies
        run: npm ci
      - name: compile code
        run: npm run babelify
      - name: Linting
        run: npm run format:ci
      - name: Tests
        run: npm run test:ci
      - name: Get test coverage flags
        id: test-coverage-flags
        run: |-
          os=${{ matrix.os }}
          node=${{ matrix.node-version }}
          echo "::set-output name=os::${os/-latest/}"
          echo "::set-output name=node::node_${node//./}"
        shell: bash
      - uses: codecov/codecov-action@v1
        with:
          file: coverage/coverage-final.json
          flags: ${{ steps.test-coverage-flags.outputs.os }},${{ steps.test-coverage-flags.outputs.node }}
